.fshSettingsTable {
  border-spacing: 10px;
}
.fshHelpTitle {
  color: #FFF380;
  font-weight: bold;
}
.networkIcon {display: inline-block;}
.fshSettingsText {
  width: 340px;
}
.fshSettingsNumber {
  width: 40px;
}
.unstable {
  cursor: default
}
