.fsh-findplayer-div {
  left: 372px;
  position: absolute;
  top: 72px;
}

.fsh-findplayer-link {
  margin: auto 2px;
}

.fsh-findplayer-table {
  table-layout: fixed;
}

.fsh-findplayer-table td:first-of-type {
  overflow: hidden;
  white-space: nowrap;
}
