/* https://stephanwagner.me/only-css-loading-spinner */
/* Requires position: relative, absolute or fixed */
@keyframes fshSpinner {
  to {
    transform: rotate(360deg);
  }
}
.fshSpinner:before {
  animation: fshSpinner .6s linear infinite;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top-color: #07d;
  box-sizing: border-box;
  content: '';
  height: 20px;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px;
}
.fshSpinner64:before {
  border-width: 4px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  width: 64px;
}
.fshSpinner12:before {
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  width: 12px;
}
.fshSpin12:before {
  height: 12px;
  width: 12px;
}
.fshComposingSpinner:before {
  top: 75%;
}
