.cR .imp-0 {
  color: red;
  font-weight: bold;
}
.cR .imp-1 {
  color: orangered;
  font-weight: bold;
}
.cR .xSmallLink {
  background: transparent;
  border: none;
  color: darkgreen;
  cursor: pointer;
  font-size: xx-small;
  padding: 0;
  text-decoration: underline;
  user-select: text;
}
